# Dependências
node_modules/
pnpm-lock.yaml
yarn.lock

# Build
dist/
build/
out/

# Ambiente e Segredos
.env
.env.*
!.env.example
.DS_Store

# Logs
*.log
npm-debug.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Sistema
Thumbs.db
